@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
} 
<div class="text-center">
    <form asp-action="Register" method="post">
        <div class="form-group">
            <label asp-for="DeviceId" class="control-label"></label>
            @Html.DropDownListFor(m => m.DeviceId, Model.DeviceIds)
        </div>
        <div class="form-group">
            <label asp-for="AzureFunctionUrl " class="control-label"></label>
            @Html.TextBox("AzureFunctionUrl", null)
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

